@model ZeroHunger.Models.UserCreateModel
@using ZeroHunger.Utils
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @class = "jumbotron" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RoleType)
        @Html.DropDownListFor(m => m.RoleType, new SelectList(Enum.GetValues(typeof(UserRole))), "-- Select Role Type --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RoleType, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <div>
        <small>Already have account? <span>@Html.ActionLink("Login", "Index", "Login")</span></small>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
}